.body {
 
  background-color: black;
}
.bttn {
  
  margin-left: 35%;
   padding: 0px;
}
.table {
  background-size: contain;
  background-color: rgb(64, 64, 64);
  color: orange;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;

 
}
.form-group {
  padding-top: 40px;
  width: 100%;
  background-color: orange;
  
}
 .holder {
   background-color: green;
 }
.container {
  margin: 0%;
  background-color: orange;
}
  
